#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  background-image: url('../../public/background.jpg');
  background-size: contain;
}

/*

body {
  display: flex;
  background-image: url('../../public/background.jpg');
  background-position: top 90px left 200px;
  background-size: contain;
  height: 100vh;
 }

 */
 
 @media (max-height: 900px) {

 }

.card-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 200px;
}
