#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  background-image: url('../../public/background.jpg');
  background-size: contain;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 400px;
}
