* {
  margin: 0px;
  padding: 0px;
}

body {
 display: flex;
 background-image: url('../../public/background.jpg');
 background-position: top 90px left 200px;
 background-size: contain;
 height: 100vh;
}

@media (max-height: 900px) {
  body {
    background-position: center;
    background-size: cover;
  }
}